* {
    --primary-col: hsl(349, 56%, 57%);
    --secondary-col: hsl(204, 62%, 49%);
    --tert-yellow: hsl(45, 94%, 61%);
    --dark-green: hsl(180, 25%, 25%);
    --sec-blue: hsl(195, 53%, 79%);
    --black: hsl(0, 0%, 0%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

@media screen and (max-width: 575px ) {
    /* Home page Starter Works */
    header h1 {
        background-color: var(--primary-col);
        color: var(--black);
        text-align: left;
        font-weight: bold;
        padding: .5rem .1rem .1rem .6rem;
        margin: .3rem;
        border:none;
        border-radius: 6px;
        position: relative;
        font-size: 20px;
        min-height: 2.9rem;
    }
    #page-title {
        font-weight: 20;
        font-size: small;
        position: absolute;
        top: .95rem;
        right: 5rem;
        border: 2px solid var(--tert-yellow);
        padding: .1rem .3rem;
        border-radius: 6px;
        background-color: var(--secondary-col);
        min-width: 4rem;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    h2 {
        text-align: center;
        font-size: 22px;
        max-width: 450px;
        margin: 1rem auto;
    }

    #menu::before {
        content: "☰";
    }
    #menu {
        border: none;
        border-radius: 6px;
        width: 2rem;
        padding: .5rem .1rem;
        position: absolute;
        top: .7rem;
        right: 1.5rem;
    }

    #navmenu li {
        list-style-type: none;
    }
    #navmenu a {
        text-decoration: none;
        color: var(--black);
        display: none;
    }
    #navmenu.open {
        position: absolute;
        top: 2.5rem;
        right: 1.2rem;
        background-color: var(--tert-yellow);
        border-radius: 6px;
        padding: .5rem;
        font-weight: 450;
        width: 11.5rem;
    }
    #menu.open::before {
        content: "❌"
    }
    #navmenu.open a {
        display: block;
        margin: .3rem;
    }
    #navmenu.open a:hover {
        font-weight: bold;
    }

    body {
        margin: 0 auto;
        max-width: 95%;
    }
    main {
        min-height: 400px;
        max-width: 470px;
        margin: .1rem auto;
    }
    h3 {
        text-align: center;
        max-width: 70%;
        background-color: lightblue;
        padding: .2rem 1rem;
        margin: .1rem auto;
        border: 2px solid darkblue;
        border-radius: 6px;
    }
    p {
        text-wrap: pretty;
        
    }
    /* css for rendered images */
    figure {
        margin: .3rem auto;
        height: 420px;
        width: 370px;
        display: grid;
        grid-template-rows: .1fr 1.6fr ;
    }
    figcaption p {
        margin: 0 0 2px 3rem;
    }
    .label {
        font-style: italic;
        font-weight: bold;
    }
    figure img {
        margin: .6rem auto;
        border: 4px solid grey;
        box-shadow: 4px 4px .8px;
        max-height: 300px;
    }
    #missions-container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    img {
        max-width: 270px;
    }
    .language, .time, .food {
        font-weight: bold;
    }
        footer {
        background-color: var(--primary-col);
        color: var(--black);
        padding: .5rem;
        text-align: center;
        min-height: 1.5rem;
        border-radius: 6px;
        margin: .3rem;
        font-weight: bold;
        margin-top: 2rem
    }
}
