* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 750px;

}

header h1 {
    background-color: hsl(204, 100%, 40%);
    color: hsl(0, 0%, 0%);
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
}


main{
    max-width: 80%;
    margin: .5rem auto;
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: 1fr;
    gap: 1rem;
    text-wrap: balance;
}

main h2 {
    background-color: hsl(195, 53%, 79%);
    text-align: center;
    border-radius: 5px;
    padding: .5rem;
}

#purpose-grid {
    grid-column: 1;
}

#color-scheme {
    grid-column: 2;
    grid-row: 1;
}

main p {
    max-width: 90%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    /* border: 2px solid black; */
}
table caption {
    caption-side: bottom;
    margin-top: .5rem;
}

tr, td, th {
    border: 2px solid hsl(0, 0%, 0%);
    padding: .2rem;
    height: 2.1rem;
}

th:hover {
    background-color: black;
    color: hsl(0, 0%, 100%);

}

tbody tr:nth-child(2):hover, tbody tr:nth-child(6):hover {
    background-color: hsl(204, 100%, 40%);
}

tbody tr:nth-child(4):hover {
    background-color: hsl(195, 53%, 79%);
}

footer {
    background-color: hsl(204, 100%, 40%);
    margin: .5rem auto;
    padding: 1rem;
    border-radius: 5px;
}