:root {
    --primary-colour: hsl(204, 100%, 40%);
    --secondary-colour: hsl(195, 53%, 79%);
    --black: hsl(0, 0%, 0%);
    --optional-colour: hsl(45, 94%, 61%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    font-size: large;
    font-size: 20px;
    box-sizing: border-box;
}

header h1 {
    background-color: var(--primary-colour);
    color: var(--black);
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
}

#site-name-reason {
    text-align: center;
}
#site-name-reason h2{
    background-color: var(--secondary-colour);
    padding: .5rem;
    border-radius: 5px;
    display: inline-block;
}

#first-grid-row {
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(1fr, 2);    
    gap: 1rem;
    margin: .5rem auto;
}
#first-grid-row h2 {
    background-color: var(--secondary-colour);
    padding: .5rem;
    border-radius: 5px;
}
#first-grid-row p {
    max-width: 95%;
    margin: 0 auto;
    text-align: justify;
}
#purpose, #scenarios {
    margin-bottom: .5rem;
    padding: .5rem;
}

#color-scheme-table {
    grid-column: 2;
    grid-row: 1;
}

table {
    border-collapse: collapse;
    margin-top: .5rem;
}
table caption {
    caption-side: bottom;
    margin-top: 1.4rem;
    background-color: var(--optional-colour);
    border-radius: 5px;
    padding: .7rem;
    font-weight: bold;
}

tr, td, th {
    border: 2px solid var(--black);
    padding: .2rem;
    min-height: 6rem;
    max-width: 9rem;
}

th:hover {
    background-color: var(--black);
    color: var(--secondary-colour);

}

tbody tr:nth-child(2):hover, tbody tr:nth-child(6):hover {
    background-color: var(--primary-colour);
}

tbody tr:nth-child(4):hover {
    background-color: var(--secondary-colour);
}

#wireframes {  
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
}
#wireframes-large img {
    max-width: 400px;
}

footer {
    background-color: var(--primary-colour);
    margin: .5rem auto;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}