* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    max-width: auto;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template: 0/repeat(3 auto);

}

header {
    display: grid;
}

main {
    height: auto;
}

nav li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    padding: .4rem;
}

nav a {
    text-decoration: none;
    color: white;
}

#course-title {
    background-color: #1d4d72;
    color:white;
    padding: 1rem;
    text-align: center;
}

h1 {
    text-align: center;
    margin: .5rem;
    padding: .3rem;
}

.card1 {
    max-width: 65%;
    display: grid;
    grid-template: repeat(3 auto)/repeat(3 auto);
    border: 1px grey solid;
    border-radius: .5rem;
}

#about-header {
    background-color: #1d4d72;
    text-align: center;
    color: white;
    padding: .5rem;
    border-radius: 12px 12px 0 0;
    grid-column: 1/4;
    margin-bottom: 1rem;
}

.profile-picture {
    padding: .5rem;
    grid-row: 2;
    grid-column: 3;
}

#about-paragraph {
    text-align: justify;
    grid-row: 2;
    grid-column: 1;
    padding: .5rem;
    grid-column: 1/3;
    
}

img {
    max-width: 7rem;
}

.main-sections {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    margin: .5rem auto;
}
.card2 {
    grid-column: 2;
    padding-left: .3rem;
    border: 2px solid grey;
    border-radius: .5rem;
    margin-left: auto;
}

.card2 ul {
    text-align: center;
}

.card2 h2 {
    background-color: #1d4d72;
    color: white;
    padding: .5rem;
    border-radius: 12px 12px 0 0;
    text-align: center;
}

#state-header {
    grid-row: 3;
    grid-column: 1/3;
    border-bottom: 2px solid grey;
    padding: 0 .5rem;
    color: black;
    text-align: center;
    margin-bottom: 1rem;
    
}
.independence-square {
    grid-column: 1;

}

.second-paragraph {
    grid-column: 2/3;
}

footer {
    background-color: #1d4d72;
    margin-top: .5rem;
    padding: 1rem;
    color: white;
    text-align: center;
}